<h1><%= @space.name %></h1>
Description:  <%= @space.description %>
Price:   <%= @space.price   %>
<br>

<form action="/spaces/<%= params[:id] %>" method ="post">
  <input type='hidden' name='_method' value='put'>
  <label for = "date">
    Available date:
    <input type="text" name="date"/>
  </label>

  <input type="submit" value="add availability">
</form>

<div id="calendar">

</div>

<form action="/requests" method="post">
  <input type='hidden' name='_method' value='put'>
  <input type='hidden' name='space_id' value='<%= params[:id] %>'>
  <input type='hidden' name='requested_date' value='<%= params[:date] %>'>

  Requested Date: <input type="text" value="<%= params[:date] %>" disabled="true">
  <input type="submit" value="confirm request">
</form>

<script type="text/javascript">
  $(document).ready(function(){
    $.get( "/calendar/<%= params[:id] %>", function(data){
      $("#calendar").html(data);
    });
  });
</script>
